@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:ital,wght@0,100..1000;1,100..1000&display=swap");
.paneflow-amaranth-egret-191 {
  --pf-padding: 1cqw;
  --pf-gap: 1cqw;
  --pf-transition-duration: 1000ms;
  --pf-border-radius: 3cqw;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  font-family: Inter;
  font-synthesis-weight: none;
  font-synthesis-style: none;
}
.paneflow-amaranth-egret-191 .paneflow-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.paneflow-amaranth-egret-191 .paneflow-bg-image img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
}
.paneflow-amaranth-egret-191 .paneflow-text {
  position: absolute;
  left: 0;
  top: 0;
}
.paneflow-amaranth-egret-191 .paneflow-text-container {
  white-space: nowrap;
}
.paneflow-amaranth-egret-191 .paneflow-image {
  position: absolute;
  left: 0;
  top: 0;
}
.paneflow-amaranth-egret-191 .paneflow-image img {
  width: 100%;
  height: 100%;
  max-width: none;
}
.paneflow-block-GDwP51 {
  --pf-cols: 4;
  --pf-rows: 4;
  --pf-col: 0;
  --pf-row: 2;
  --pf-width-cols: 4;
  --pf-height-rows: 2;
}
.paneflow-item-pyIScR .paneflow-text-container {
  font-size: 15cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-pyIScR {
  transform: translate3d(-100cqw, 15.6cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-QOO9NF img {
  object-fit: contain;
  object-position: center;
  padding: 0cqw 0cqw;
  border-radius: 0cqw;
}
.paneflow-item-QOO9NF {
  width: 42cqw;
  height: 45cqw;
  transform: translate3d(29.1cqw, -13cqw, 0) scale(2.5) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-mPA0mS .paneflow-text-container {
  font-size: 8cqw;
  text-align: left;
  color: rgba(249, 249, 249, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-mPA0mS {
  transform: translate3d(-100cqw, 1.8cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}

.paneflow-item-6U1vXq .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-VHFydX .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-q5D06m .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-0o3H4n .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-block-X5ym2S {
  --pf-cols: 4;
  --pf-rows: 4;
  --pf-col: 0;
  --pf-row: 0;
  --pf-width-cols: 4;
  --pf-height-rows: 1;
}
.paneflow-item-rrHNvD .paneflow-text-container {
  font-size: 9cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-rrHNvD {
  transform: translate3d(3.6cqw, 1.9cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-zGDkry {
  --pf-cols: 4;
  --pf-rows: 4;
  --pf-col: 0;
  --pf-row: 1;
  --pf-width-cols: 4;
  --pf-height-rows: 1;
}
.paneflow-item-6bpSMj .paneflow-text-container {
  font-size: 4cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1.2;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-6bpSMj {
  transform: translate3d(25.8cqw, 1.6cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}

.paneflow-item-850leX img {
  object-fit: contain;
  object-position: center;
  padding: 0cqw 0cqw;
  border-radius: 0cqw;
}
.paneflow-item-850leX {
  width: 20cqw;
  height: 24cqw;
}

.paneflow-item-DCj6jr .paneflow-text-container {
  font-size: 3cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1.4;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-DzAVYq .paneflow-text-container {
  font-size: 6cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-block-8UcSHi {
  background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-YSJ8zO img {
  object-fit: cover;
  object-position: center;
}

.paneflow-block-N1dqdZ {
  border: 0.1cqw solid rgba(255, 255, 255, 0.2);
}
.paneflow-item-APln07 img {
  object-fit: cover;
  object-position: center;
}

.paneflow-item-V4asSM .paneflow-text-container {
  font-size: 6cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-rP6EA4 .paneflow-text-container {
  font-size: 6cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-CE4Fds .paneflow-text-container {
  font-size: 9cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-block-fULAa1 {
  background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-XkoUtc img {
  object-fit: cover;
  object-position: center;
}

.paneflow-item-kNSKsh .paneflow-text-container {
  font-size: 8cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-MTYjcJ .paneflow-text-container {
  font-size: 9cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-BKvJ9h .paneflow-text-container {
  font-size: 3cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1.4;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-block-gUoSPp {
  background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-YQs3R0 img {
  object-fit: cover;
  object-position: center;
}

.paneflow-item-6slc4g .paneflow-text-container {
  font-size: 6cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-block-hLbQdT {
  background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-ARRmii img {
  object-fit: cover;
  object-position: center;
}

.paneflow-block-fUWski {
  background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-JYqPOh img {
  object-fit: cover;
  object-position: center;
}

.paneflow-item-eQooxE .paneflow-text-container {
  font-size: 6cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-6xGoLy .paneflow-text-container {
  font-size: 6cqw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Flex;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-block-i6PExa {
  background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-jJRp4L img {
  object-fit: cover;
  object-position: center;
}

.paneflow-block-GDwP51,
.paneflow-block-MdKkwa,
.paneflow-block-X5ym2S,
.paneflow-block-zGDkry,
.paneflow-block-ffc839,
.paneflow-block-N4w44o,
.paneflow-block-fShcXX,
.paneflow-block-8UcSHi,
.paneflow-block-N1dqdZ,
.paneflow-block-0vV37D,
.paneflow-block-dFFo5c,
.paneflow-block-iQHrHL,
.paneflow-block-fULAa1,
.paneflow-block-Eitl4y,
.paneflow-block-zOwZ9W,
.paneflow-block-gUoSPp,
.paneflow-block-k5q6ni,
.paneflow-block-hLbQdT,
.paneflow-block-fUWski,
.paneflow-block-gY8zWb,
.paneflow-block-DKP3Ig,
.paneflow-block-i6PExa {
  transform: translateX(100cqw);
}
